<div ng-controller="CrearLotesController as c">
	<aside>
		<div id="crear-lotes-cambiar-campania" cambiar-campania="c.lote.campania" />
	</aside>
	<aside>
		<div id="crear-lotes-cambiar-campos" cambiar-campo="c.lote.campo" />
	</aside>
	<header navbar>
		<li>
			<a class="dropdown-button" href="" data-activates="menu-crear-lotes">
				<i class="material-icons">more_vert</i>
			</a>
			<ul id="menu-crear-lotes" class="dropdown-content">
				<li>
					<a class="modal-trigger" href="#crear-lotes-cambiar-campania">Cambiar campa&ntilde;a</a>
				</li>
				<li>
					<a class="modal-trigger" href="#crear-lotes-cambiar-campos">Cambiar campo</a>
				</li>
			</ul>
		</li>
	</header>
	<main class="container screen-container row-without-margin">
		<form autocomplete="off" style="margin-top: 10px;">
			<div class="row">
				<div class="col s8 input-field border-default">
					<input id="crear-lotes-nombre" type="text" ng-model="c.lote.nombre" />
					<label for="crear-lotes-nombre">Nombre</label>
				</div>
			</div>
			<div class="row">
				<div class="col s8 input-field border-default">
					<input style="width:70px;text-align:left;"
						   ng-model="c.lote.superficie"
						   type="number"
					/>
					<span style="margin-left:5px">hect&aacute;reas</span>
				</div>
			</div>
			<div class="row">
				<div class="input-field border-default col s8"
					 select-modal="Cultivo"
					 options="c.cultivos"
					 selected="c.lote.cultivo"
				/>
			</div>
			<div class="row">
				<div class="input-field border-default col s8"
					 select-modal="Antecesor"
					 options="c.cultivos"
					 selected="c.lote.antecesor"
				/>
			</div>
			<div class="row right">
				<div class="col s12">
					<button	class="waves-effect waves-light btn"
							ng-click="c.guardar()"
							type="submit"
							>Guardar</button>
				</div>
			</div>
		</form>
	</main>
	<aside ng-show="false">
		<span>&iquest;Esta seguro que desa cambiar la cmpa&ntilde;a?</span>
		<a href="">Aceptar</a>
		<a href="">Cancelar</a>
	<aside>
</div>