<link href="index.css" rel="stylesheet" />
<header class="navbar-fixed">
	<nav class="teal">
		<div class="nav-wrapper">
			<ul class="left">
				<li>
					<a href="">
						<i class="material-icons">arrow_back</i>
					</a>
				</li>
			</ul>
			<ul class="right">
				<li>
					<a href="#/">
						<i class="material-icons">share</i>
					</a>
				</li>
				<li>
					<a class="dropdown-button" href="" data-activates="menu-listado-de-aplicaciones">
						<i class="material-icons">more_vert</i>
					</a>
					<ul id="menu-listado-de-aplicaciones" class="dropdown-content">
						<li print></li>
						<li>
							<a href="">
								<i class="material-icons">file_download</i>
								<span>Exportar</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>
<main class="printable">
	<div class="container">
		<section class="section">
			<form>
				<h6 style="margin-top:0;padding-top:0;" class="grey-text text-darken-3">
					<select>
						<option>Aplicaciones Realizadas</option>
						<option>Aplicaciones Pendientes</option>
					</select>
				</h6>
			</form>
			<table>
				<thead>
					<tr class="grey-text text-darken-1">
						<th style="text-align: center">Fecha</th>
						<th style="text-align: center">Campo/Lote</th>
						<th style="text-align: center">Producto</th>
						<th style="text-align: center">Dosis</th>
					</tr>
				</thead>
				<tbody class="grey-text text-darken-1">
					<tr>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
					</tr>
					<tr>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
					</tr>
					<tr>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
					</tr>
					<tr>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
					</tr>
					<tr>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
						<td style="text-align: center">x</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</main>
