<div style="height:100vh;">
	<header navbar />
	<main class="vertical-center-wrapper" style="height:calc(100% - 48px)">
		<div class="vertical-center registracion-form-content">
			<div class="row center">
				<a class="waves-effect waves-light btn"
				   style="width:100%"
				   href="#/cuenta/campos/default/lotes/new"
				   >Crear lotes</a>
			</div>
			<div class="row center">
				<a class="waves-effect waves-light btn"
				   style="width:100%"
				   href="#/campos/default/lotes/nuevo/aplicaciones/nueva/productos"
				   >Mezclar productos</a>
			</div>
			<div class="row center">
				<a class="waves-effect waves-light btn"
				   style="width:100%"
				   href="#/campos/default/lotes/nuevo/aplicaciones/nueva"
				   >Programar aplicacion</a>
			</div>
		</div>
	</main>
</div>