<main class="teal registracion" ng-controller="RegistroDeCuentaController as c">
	<h2 class="center-align white-text registracion-titulo">AgroFinger</h2>
	<form class="vertical-center-wrapper" novalidate autocomplete="off">
		<div class="registracion-form-content vertical-center">
			<div class="row">
				<div class="input-field">
					<input id="registro-de-cuenta-password"
						   type="password"
						   class="white border-default validate nolabel"
						   ng-model="c.cuenta.password"
					/>
					<label for="registro-de-cuenta-password" data-error="">Contrase&ntilde;a</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field">
					<input id="registro-de-cuenta-password-repetir"
						   type="password"
						   class="white border-default validate nolabel"
					/>
					<label for="registro-de-cuenta-password-repetir" data-error="">Repetir contrase&ntilde;a</label>
				</div>
			</div>
			<div class="row center">
				<a href="#/cuenta/campos/default"
				   style="width:100%;"
				   class="waves-effect waves-light btn"
				   >Siguiente</a>
			</div>
		</div>
	</form>
</main>