.table-list > tbody > tr > td {
	padding: 10px 5px; 
}

.table-list > tbody > tr  {
	padding-left: 10px; 
	padding-right: 10px;
}

.table-list > tbody > tr > td > input[type=checkbox] + label {
	padding: 0;
	height: 15px;
}

.table-list > tbody > tr > td > .material-icons,
.table-list > tbody > tr > td > a > .material-icons  {
	line-height: inherit;
}

.table-list > tbody > tr > td:first-child {
	padding-left: 10px;
}

.table-list > tbody > tr > td:last-child {
	padding-right: 10px;
}